<h1>Login</h1>

<%= form_with url:'/login', local: true do |f| %>
   <%= f.label :email, "Email or Username" %>
   <%= f.text_field :email, required: true %><br><br>

   <%= f.label :password%>
   <%= f.password_field :password, required: true %><br><br>

   <%= f.submit "Login"%>
<%end%>
<p>— or —</p>

<%= button_to 'Log in with Facebook', '/auth/facebook', method: "get" %>