
<% if logged_in? %>
<h2>Welcome, <%= current_user.username ? current_user.username : current_user.email %>.</h2>
<h3>Your recent activity:</h3>

    <% current_user.recent_activity(2).reverse.each do |card| %>
        <% if card.sender_id == current_user.id %>
            <p>You sent <strong><%=card.recipient.username ? card.recipient.username : card.recipient.email %></strong> a <%=link_to "card", gift_card_path(card.id) %> on <%= card.created_at.localtime.strftime('%b %e,%l:%M %p') %>.</p>
        <% else %>
            <p><strong><%= card.recipient.username ? card.recipient.username : card.recipient.email %></strong> sent you a <%=link_to "card", user_gift_card_path(current_user.id, card.id) %> on <%= card.created_at.localtime.strftime('%b %e,%l:%M %p') %>.</p>
        <% end %>
    <% end %>
<% else %>
<h2>Hello, Stranger.</h2> 
<h4>Please <%= link_to "Login", '/login' %> or <%= link_to "Sign Up", '/users/new' %> to get your gifting on.</h4>
<% end %>