<h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
    <h2>Link to Send a Gift Card</h2>
    <h2><%= link_to "View Your Gift Cards", user_gift_cards_path(@current_user.id) %></h2>
    <h2><%= link_to "Send a Gift Card", new_user_gift_card_path(@current_user.id) %></h2>
    <%= button_to "Log Out", '/sessions', method: :delete %>
<% else %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>   
<%end%>

