<h2>Welcome to Gifty</h2>
<p>If you received a gift, please enter the details below to create an account.</p>
<p><strong>Please note: </strong> Email address must match the address the code was sent to.</p>

<%= form_with(scope: :user, url: '/invite', method: "patch") do |f| %>
    <%= f.label :code, "Gift Card Code" %><br>
    <%= f.text_field :code, required: true %><br>

    <%= f.label :username%><br>
    <%= f.text_field :username, required: true %><br>
  
    <%= f.label :email%><br>
    <%= f.text_field :email, required: true %><br>
  
    <%= f.label :password%><br>
    <%= f.password_field :password, required: true %><br>
  
    <%= f.label :password_confirmation%><br>
    <%= f.password_field :password_confirmation, required: true %><br>
  
    <%= f.submit "Create Account" %>
<%end%>
  